<div class="container">
    <div class="screen">
        <p style="margin-top: 8px;"
        class="text">Code: {{ code }}</p>

        <mat-tab-group
        class="text tabText">
            <mat-tab class="tab" label="Members">
                <div style="margin-top: 16px;"
                *ngFor="let member of members">
                    <p>{{ member['name'] }}</p>
                </div>
            </mat-tab>
            <mat-tab class="tab" label="Tasks">
                <div class="task"
                *ngFor="let task of tasks">
                    <p>{{ task.task }}</p>
                    <div class="iconDiv">
                        <span class="material-icons icons"
                        (click)="onClickEdit(task)">edit</span>
                        <span class="material-icons icons"
                        (click)="onClickDelete(task)">delete</span>
                    </div>
                </div>
                <span class="material-icons icons plus"
                (click)="onClickNewTask()">add</span>
    
                <div *ngIf="editClicked" class="modal">
                    <p class="text">Enter task:</p>
            
                    <form (submit)="onEditSubmit($event)">
                        <input class="inputField" (keyup)="onKey($event)">
                        <button class="button"
                            style="margin-top: 20px"
                            type="submit">Submit</button>
                    </form>
                </div>
            </mat-tab>
        </mat-tab-group>

        <button (click)="onStart()" class="button"
        >START</button>
    </div>
</div>