.container {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin: -8px;
}

.screen {		
	background: linear-gradient(90deg, black, #171717);	
	position: relative;	
	height: 600px;
	width: 320px;	
	box-shadow: 0px 0px 24px #5C5696;
    padding: 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.tabText {
    font-size: 25px;
}

.mat-tab-label {
	color: white;
	font-family: joffrey;
	font-size: 26px;
	font-weight: 100;
}

.tab {
	
}

.task {
	margin-top: 16px;
	flex-direction: row;
	display: flex;
	justify-content: space-between;
}

.iconDiv {
	
}

.icons {
	font-size: 16px;
	margin-left: 6px;
	cursor: pointer;
}

.plus {
	font-size: 28px;
	margin-top: 10px;
}

.button {
    width: 100px;
    height: 50px;
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 4px;
    font-family: joffrey;
    font-size: 26px;
}

.modal {
    z-index: 9;
    width: 200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
    background: linear-gradient(90deg, black, #171717);	
	box-shadow: 0px 0px 24px #5C5696;
    padding: 10px;
    flex-direction: column;
}

.textField {
	box-shadow: 0px 0px 24px #5C5696;
    padding: 10px;
    align-self: center;
}

.imposter {
    font-size: 26px;
    margin-top: 5px;
    color: red;
}

.crewmate {
    font-size: 26px;
    margin-top: 5px;
    color: cyan;
}