.container {
	display: flex;
	align-items: center;
    flex-direction: column;
	justify-content: center;
	min-height: 100vh;
    margin: -8px;
}

.button {
    width: 100px;
    height: 50px;
    color: white;
    border-color: white;
    background-color: transparent;
    border-radius: 4px;
    font-family: joffrey;
    font-size: 26px;
}

.logo {
    width: 200px;
    height: 100px;
    background-image: url(../../assets/images/amongus_logo.png);
    background-size: cover;
}

.modal {
    z-index: 5;
    width: 200px;
    height: 200px;
    background-color: blue;
    justify-content: center;
    align-items: center;
    display: flex;
    position: fixed;
}